@charset "UTF-8";
/* Variables {{{1 */
/* Font Weights {{{2 */
/* End Font Weights }}}2 */
/* Dimensions {{{2 */
/* End Dimensions }}}2 */
/* End Variables }}}1 */
/* Basic Text formatting {{{1 */
:root {
  color: black;
  font-family: "Calibre", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.1;
  font-variant-numeric: proportional-nums; }

/* Body Text {{{2 */
body {
  font-size: 1.375rem; }

/* Body Headings {{{3 */
h2 {
  font-family: "Freight Display";
  font-weight: 500;
  font-size: 6.25rem;
  line-height: 1;
  text-align: center; }

h3 {
  font-family: "Calibre", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1875;
  margin-bottom: 1.25rem; }

h4 {
  font-family: "Calibre", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.25;
  margin-bottom: 1.25rem; }

/* End Body Headings }}}3 */
p, li {
  hyphens: auto;
  line-height: 1.4; }

p.video-caption {
  font-size: 0.875rem;
  line-height: 1.2; }

.text-column {
  font-size: 2rem;
  line-height: 1.1875;
  margin: 0; }

h3.text-column {
  font-weight: 300; }

p.text-column {
  font-weight: 500; }

.normal,
.normal > * {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.45; }

/* Accordion-Styles {{{3 */
.accordion .visible *,
.accordion .collapsed * {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.45; }

/* End Accordion-Styles }}}3 */
/* Music-Production Overview {{{3 */
.music-production-title {
  font-weight: 500; }

.music-production-lead-title {
  font-weight: 300; }

.music-production-lead {
  margin-top: 1rem; }
  .music-production-lead * {
    font-weight: 300;
    font-size: 22px;
    line-height: 1.45; }

/* End Music-Production Overview }}}3 */
/* Alternating Grid Text Large Styles {{{3 */
.alternating-grid-text-large {
  /* Music-Production Album Teasers {{{4 */
  /* End Music-Production Album Teasers }}}4 */
  /* Team Teasers (same grid as Album Teasers) {{{4 */
  /* End Team Teasers }}}4 */ }
  .alternating-grid-text-large h3 {
    margin-bottom: 0; }
  .alternating-grid-text-large h3.music-production-title {
    font-weight: 500; }
  .alternating-grid-text-large p.music-production-lead-title {
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.1875; }
  .alternating-grid-text-large h3.team-name {
    font-weight: 300; }
  .alternating-grid-text-large p.team-quote {
    font-size: 2rem;
    line-height: 1.1875;
    font-weight: 500; }

/* End Alternating Grid Text Large Styles }}}3 */
/* Events {{{3 */
p.teaser-link {
  font-weight: 300;
  font-size: 1.375rem;
  line-height: 1.45rem; }

/* End Events }}}3 */
strong, em {
  font-weight: 600; }

blockquote p {
  font-family: "Freight Display";
  font-weight: 500;
  font-style: italic;
  font-size: 6.25rem;
  line-height: 1;
  text-align: center;
  hyphens: none; }

/* End Body Text }}}2 */
/* Text Header {{{2 */
#masthead h1 {
  font-family: "Freight Display";
  font-size: 6.25rem;
  line-height: .75;
  font-weight: 400;
  font-style: normal; }
  #masthead h1 strong {
    font-weight: 700;
    font-style: italic; }

#language-switch p {
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase; }

/* End Text Header }}}2 */
/* Link Styles {{{2 */
/* Basic Links {{{3 */
a {
  text-decoration: none;
  color: black;
  border-bottom: solid #C9AF87 0.1875rem; }

a:link,
a:visited {
  color: black; }

a:hover {
  border-bottom: solid linear-gradient(45deg, #A69382 0%, #A59074 81%, #9B8562 100%) 0.1875rem; }

/* End Basic Links }}}3 */
/* Masthead H1 {{{3 */
h1 a {
  border: none;
  background: transparent; }

h1 a:link, h1 a:visited, h1 a:focus, h1 a:active {
  color: white; }

h1 a:hover {
  background: none;
  border-bottom: none; }

/* End Masthead H1 }}}3 */
/* Header Language Switch {{{3 */
#language-switch p a {
  border: none; }

/* End Header Language Switch }}}3 */
/* Header Nav Links {{{3 */
header nav ul li a {
  border-bottom: none; }

header nav ul li a:hover {
  font-weight: 700;
  background: transparent;
  border: none; }

header nav ul li a::after {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

header nav ul li.active a {
  font-weight: 700; }

/* End Header Nav Links }}}3 */
/* Arrow Links {{{3 */
a.arrow-left-before:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_left.svg"); }

a.arrow-left-after:after {
  padding-left: 0.25rem;
  content: url("/assets/_pic/arrow_left.svg"); }

a.arrow-right-before:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg"); }

a.arrow-right-after:after {
  padding-left: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg"); }

/* End Arrow Links }}}3 */
/* Button Links {{{3 */
.button a {
  background: #C9AF87;
  display: inline-block;
  padding: 0 0.25rem;
  border: none; }

.button a:hover,
.button a:active,
.button a:focus {
  background: linear-gradient(45deg, #A69382 0%, #A59074 81%, #9B8562 100%); }

/* End Button Links }}}3 */
/* Overlay Nav Links {{{3 */
#nav-overlay ul a {
  border: none; }

/* End Overlay Nav Links }}}3 */
/* Social Media Links {{{3 */
a.social-media-link {
  text-decoration: none;
  border: transparent;
  border: 0;
  border-bottom: 0 !important;
  outline: 0; }

a.social-media-link svg path {
  fill: #C9AF87; }

a.social-media-link:hover svg path {
  fill: linear-gradient(45deg, #A69382 0%, #A59074 81%, #9B8562 100%); }

/* End Social Media Links }}}3 */
/* Teaser Links {{{3 */
.alternating-grid-text-large .image-cell > a,
.alternating-grid-text-large .text-cell > a {
  border: none;
  outline: 0; }

/* End Teaser Links }}}3 */
/* End Link Styles }}}2 */
/* End Basic Text formatting }}}1 */
/* Buttons {{{1 */
.other-button,
.accordion-collapse,
.accordion-trigger {
  justify-self: start;
  align-self: start;
  display: inline-block;
  background: linear-gradient(20deg, #CCAF82 0%, #C6AD8C 20%, #C0AB97 100%);
  color: white;
  padding: 1px 10px 2px 7px;
  margin: 1rem 0;
  cursor: pointer; }
  .other-button span:before,
  .accordion-collapse span:before,
  .accordion-trigger span:before {
    font-weight: 600;
    font-size: 1.2em;
    line-height: 0.8;
    display: inline-block;
    transform: translateY(2px);
    padding-right: 0.25rem; }

.other-button {
  margin: 0;
  color: red; }

.other-button a {
  border: none;
  color: white; }

.applybefore,
.submit:before {
  content: none;
  width: 31px;
  height: 10px; }

.accordion-trigger span:before {
  content: "+"; }

.accordion-collapse span:before {
  content: "–"; }

.accordion-collapse:hover,
.accordion-trigger:hover {
  background: linear-gradient(45deg, #A69382 0%, #A59074 81%, #9B8562 100%); }

/* Share, Listen, Download Buttons {{{2 */
.igroove img,
.cede img,
.exlibris img {
  width: 50px;
  margin: auto; }

.cede img {
  transform: translateY(-6px) scale(1.1); }

.exlibris img {
  transform: translateY(-10px) scale(1.1); }

.igroove img {
  transform: translateY(-7px) scale(1.1); }

/* End Share, Listen, Download Buttons }}}2 */
/* End Buttons }}}1 */
/* Masthead Basic Layout {{{1 */
#masthead {
  height: 28rem;
  padding: 1.5rem 1.5rem 2.5rem 2rem;
  display: flex;
  align-content: flex-start;
  /* Masthead Backgrounds {{{2 */
  background-image: url("../_pic/masthead_backgrounds/home.png");
  background-position: bottom right;
  background-size: cover;
  /* End Masthead Backgrounds }}}2 */ }

.about #masthead {
  background-image: url("../_pic/masthead_backgrounds/about_back.png"); }

.music-network #masthead {
  background-image: url("../_pic/masthead_backgrounds/music-network_back.png"); }

.music-production #masthead {
  background-image: url("../_pic/masthead_backgrounds/music-production_back.jpg"); }

.encouragement #masthead {
  background-image: url("../_pic/masthead_backgrounds/encouragement_back.png"); }

.events #masthead {
  background-image: url("../_pic/masthead_backgrounds/events_back.png"); }

/* End Masthead Basic Layout }}}1 */
/* Overlay Default Settings {{{1 */
nav#nav-overlay {
  display: none; }

/* End Overlay Default Settings }}}1 */
/* Header {{{1 */
header {
  background: white;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  /* Header Masthead Layout {{{2 */
  /* End Header Masthead Layout }}}2 */
  /* Header Nav Layout {{{2 */
  /* End Header Nav Layout }}}2 */ }
  header #hamburger {
    display: none; }
  header #language-switch {
    position: absolute;
    right: 2rem;
    top: 35px;
    background: white;
    width: 26px;
    height: 20px;
    cursor: pointer;
    display: flex; }
    header #language-switch p {
      margin: auto; }
  header #masthead {
    transition: all 0.3s ease-out;
    flex-direction: column; }
    header #masthead h1, header #masthead p {
      margin: 0;
      transition: all 0.3s linear; }
  header nav {
    padding: 0.5rem 2rem; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      header nav ul li a {
        text-align: center; }
      header nav ul li a:after {
        display: block;
        content: attr(title);
        font-weight: 700;
        height: 0;
        overflow: hidden;
        visibility: hidden; }

/* End Header }}}1 */
/* Header Shrink {{{1 */
header.shrink {
  /* collapsed header */ }
  header.shrink #masthead {
    min-height: 0;
    height: 7.8rem;
    width: 100%;
    padding: 0 0 0 2rem;
    overflow: hidden;
    /* children have no influence on height */ }
  header.shrink h1 {
    opacity: 0;
    transform: translateY(-200px); }

header.mini #masthead {
  height: 0; }

header.mini #language-switch {
  display: none; }

/* End Header Shrink }}}1 */
/* Index Slide Show {{{1 */
.index {
  height: 100vh;
  overflow: hidden; }
  .index #slogan {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; }
    .index #slogan h1 {
      margin: auto;
      font-size: 6.25rem;
      text-align: center;
      font-family: "Freight Display";
      font-weight: 500;
      color: white; }
  .index #carousel {
    z-index: 0;
    /* Flickity Fade {{{2 */
    /* End Flickity Fade }}}2 */ }
    .index #carousel .flickity-enabled.is-fade .flickity-slider > * {
      pointer-events: none;
      z-index: 0; }
    .index #carousel .flickity-enabled.is-fade .flickity-slider > .is-selected {
      pointer-events: auto;
      z-index: 1; }
    .index #carousel .flickity-viewport {
      height: 100vh !important; }
    .index #carousel .carousel-cell {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .index #carousel .carousel-cell img {
        display: block;
        max-height: 100%;
        object-fit: cover; }

/* End Index Slide Show }}}1 */
/* Main Layout {{{1 */
main {
  width: 65rem;
  margin: 3.125rem auto;
  padding: 30.5rem 0 0;
  /* Main Grids {{{2 */
  /* Main Grids Single Column Grid {{{3 */
  /* End Main Grids Single Column Grid }}}3 */
  /* Main Grids Alternatig Grid Image Large {{{3 */
  /* End Main Grids Alternatig Grid Image Large }}}3 */
  /* Main Grids Alternating Grid Text Large {{{3 */
  /* Hear-Buy-Share Links {{{4 */
  /* End Hear-Buy-Share Links }}}4 */
  /* End Main Grids Alternating Grid Text Large }}}3 */
  /* Main Grids order-download Grid {{{3 */
  /* End Main Grids order-download Grid }}}3 */
  /* Main Grids artist-teaser Grid {{{3 */
  /* End Main Grids artist-teaser Grid }}}3 */
  /* End Main Grids }}}2 */
  /* main Music-Production-Entry {{{2 */
  /* End main Music-Production-Entry }}}2 */ }
  main h2 {
    margin: 0 0 3.125rem; }
  main section {
    margin: 3.125rem auto; }
  main section.single-col {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; }
    main section.single-col * {
      grid-column: 2/3; }
    main section.single-col .full-width {
      grid-column: 1/-1;
      margin-bottom: 0.625rem; }
    main section.single-col img.full-width {
      width: 100%;
      height: auto; }
    main section.single-col p {
      margin-bottom: 0.875rem; }
    main section.single-col p:last-child {
      margin-bottom: 0; }
  main section.alternating-grid-image-large {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 0; }
    main section.alternating-grid-image-large .image-cell {
      grid-column: 1/2;
      grid-row: 1/span 3; }
      main section.alternating-grid-image-large .image-cell img {
        width: 100%;
        height: auto; }
    main section.alternating-grid-image-large .text-column {
      grid-column: -2/-1;
      display: inline-block;
      padding: 0 0 0 40px; }
    main section.alternating-grid-image-large .teaser-link {
      margin-top: 0.25rem; }
    main section.alternating-grid-image-large h3.text-column {
      align-self: end;
      margin: 0; }
    main section.alternating-grid-image-large p.text-column {
      align-self: start; }
  main section.alternating-grid-image-large:nth-of-type(2n+1) {
    grid-template-columns: 1fr 2fr; }
    main section.alternating-grid-image-large:nth-of-type(2n+1) .image-cell {
      grid-column: -2/-1; }
    main section.alternating-grid-image-large:nth-of-type(2n+1) .text-column {
      grid-column: 1/2;
      padding: 0 40px 0 0; }
  main section.alternating-grid-text-large {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0; }
    main section.alternating-grid-text-large .image-cell img {
      width: 100%;
      height: auto; }
    main section.alternating-grid-text-large .text-cell {
      transform: translateY(-10px);
      padding: 0 0 0 40px; }
  main section.alternating-grid-text-large:nth-of-type(2n+1) {
    grid-template-columns: 2fr 1fr; }
    main section.alternating-grid-text-large:nth-of-type(2n+1) .text-cell {
      order: -1;
      padding: 0 40px 0 0; }
  main .music-production-links {
    margin-top: 1rem;
    list-style: none;
    display: flex; }
    main .music-production-links li {
      margin-right: 1rem; }
  main .order-download {
    margin-top: 3.125rem;
    display: grid;
    grid-row-gap: 2.5rem;
    grid-template-columns: auto auto auto; }
    main .order-download .hear,
    main .order-download .buy,
    main .order-download .share {
      display: grid;
      grid-gap: 0;
      grid-template-columns: repeat(auto-fill, minmax(50px, 100px)); }
      main .order-download .hear h4,
      main .order-download .buy h4,
      main .order-download .share h4 {
        grid-column: 1/-1;
        margin: 0; }
      main .order-download .hear div,
      main .order-download .buy div,
      main .order-download .share div {
        grid-column: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center; }
        main .order-download .hear div img,
        main .order-download .buy div img,
        main .order-download .share div img {
          margin: 0.75rem auto; }
        main .order-download .hear div p,
        main .order-download .buy div p,
        main .order-download .share div p {
          font-size: 0.875rem;
          font-weight: 500;
          text-align: center; }
    main .order-download .hear {
      grid-column: 1/-1; }
    main .order-download .buy {
      grid-column: 1/3; }
    main .order-download .share {
      grid-column: 3/4; }
  main .artist-teaser-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.375rem; }
    main .artist-teaser-grid .artist-teaser {
      grid-column: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: center; }
      main .artist-teaser-grid .artist-teaser img {
        width: 50%;
        margin: 0 auto; }
      main .artist-teaser-grid .artist-teaser h3.artist-name {
        margin: 1rem auto; }
      main .artist-teaser-grid .artist-teaser .artist-link {
        margin: 0.5rem auto 0 0; }
  main .cover-image {
    width: 100%;
    margin: 2.5rem 0; }
  main h2.other-albums,
  main h2.musicians {
    margin-top: 6.25rem; }

/* Main Accordions Layout {{{2 */
.accordion {
  margin-top: 1rem; }
  .accordion .visible {
    outline: 0; }
  .accordion .accordion-trigger {
    margin-top: 1rem; }

/* End Main Accordions Layout }}}2 */
/* Audio Player {{{2 */
.audio-player {
  display: none; }

.custom-audio-player {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-column-gap: 10px;
  align-items: end;
  margin-bottom: 1rem; }

.play-pause-button {
  order: -2;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url("/assets/_pic/audio-play.svg"); }

.play-pause-button.playing {
  background: url("/assets/_pic/audio-pause.svg"); }

/* End Audio Player }}}2 */
/* End Main Layout }}}1 */
/* Footer {{{1 */
footer {
  margin-top: 4em;
  z-index: 9750;
  /* Footer Social Media Buttons Layout {{{2 */
  /* End Footer Social Media Buttons Layout }}}2 */
  /* Footer Info Container Layout {{{2 */
  /* Footer Info Container Layout }}}2 */
  /* Footer Masthead Layout {{{2 */
  /* End Footer Masthead Layout }}}2 */ }
  footer #social-media-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem; }
    footer #social-media-buttons svg:first-child {
      margin-right: 0.5rem; }
  footer #infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 2rem 0;
    /* Footer Info Items */ }
    footer #infos p {
      white-space: nowrap;
      margin-right: 1em; }
    footer #infos p:last-child {
      margin-right: 0; }
  footer #masthead {
    /* Background-Image and Logotype in Footer */
    margin-top: 1rem;
    flex-direction: column-reverse; }
    footer #masthead h1, footer #masthead p {
      color: white;
      margin: 0; }

/* End Footer }}}1 */
/**********/
/* LAPTOP */
/**********/
/* Breakpoint for smaller Header/Footer {{{1 */
@media (max-width: 1440px) {
  /* Header & Footer {{{2 */
  header #masthead,
  footer #masthead {
    height: 19.5rem; }
    header #masthead h1,
    footer #masthead h1 {
      font-size: 5rem; }
    header #masthead p,
    footer #masthead p {
      font-size: 1.85rem;
      line-height: 1.3;
      letter-spacing: 0.45rem; }
  footer #infos {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: max-content max-content max-content;
    grid-gap: 0 1.125rem; }
    footer #infos p {
      margin: 0; }
  header.mini #masthead {
    height: 4.75rem; }
  /* End Header & Footer }}}2 */
  /* Main {{{2 */
  main {
    width: auto;
    padding: 22rem 2rem 0;
    /* Main Grids {{{3 */
    /* Main Grids Single Column Grid {{{4 */
    /* End Main Grids Single Column Grid }}}4 */
    /* Main Grids Alternating Grid Image Large {{{4 */
    /* End Main Grids Alternating Grid Image Large }}}4 */
    /* Main Grids Alternating Grid Text Large {{{4 */
    /* End Main Grids Alternating Grid Text Large }}}4 */
    /* Artist Teaser Grid {{{3 */
    /* End Artist Teaser Grid }}}3 */
    /* End Main Grids }}}3 */ }
    main section.single-col {
      grid-template-columns: 1fr minmax(550px, 680px) 1fr; }
      main section.single-col .full-width {
        grid-column: 1/-1; }
    main section.alternating-grid-image-large .text-cell {
      padding: 0 0 0 20px; }
    main section.alternating-grid-image-large .image-cell {
      min-width: 300px; }
    main section.alternating-grid-image-large:nth-of-type(2n+1) .text-cell {
      padding: 0 20px 0 0; }
    main section.alternating-grid-text-large .text-cell {
      padding: 0 0 0 20px; }
    main section.alternating-grid-text-large .image-cell {
      min-width: 250px; }
    main section.alternating-grid-text-large:nth-of-type(2n+1) .text-cell {
      padding: 0 20px 0 0; }
    main .artist-teaser-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem; }
  /* End Main }}}2 */ }

/* End Breakpoint for smaller Header/Footer }}}1 */
/**********/
/* MOBILE */
/**********/
/* Breakpoint for Mobile {{{1 */
@media (max-width: 600px) {
  :root {
    font-size: 16px; }
  /* Layout Header {{{2 */
  header #language-switch,
  header nav {
    display: none; }
  header #masthead {
    height: 4.75rem;
    padding: 0.25rem 1rem; }
    header #masthead h1 {
      font-size: 2.45rem; }
    header #masthead p {
      font-size: 1rem;
      line-height: 1.35;
      letter-spacing: 0.175rem; }
  header #hamburger {
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;
    transform: scale(0.75);
    transform-origin: top right;
    transition: all .15s ease-in; }
  header #hamburger:hover {
    transform: scale(1.1); }
  /* End Layout Header }}}2 */
  /* Layout Collapsed Header {{{2 */
  header.shrink #masthead {
    height: 4.75rem;
    padding: 0.25rem 1rem; }
  header.shrink h1, header.shrink p {
    opacity: 1;
    transform: translateY(0); }
  /* End Layout Collapsed Header }}}2 */
  /* Navigation Overlay {{{2 */
  body {
    height: 100%;
    overflow: auto; }
  .noScroll {
    opacity: 0;
    height: 0;
    overflow: hidden; }
  #nav-overlay {
    overflow-y: scroll;
    width: 100%;
    background: white;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    transition: all .2s ease-in;
    z-index: 9500;
    display: none;
    font-size: 1.875rem;
    line-height: 1.5;
    animation: overlay-animation .2s ease-in;
    /* Menü Style {{{3 */
    /* End Menü Style }}}3 */ }
    #nav-overlay ul {
      margin: 6rem 0 0;
      padding: 0 1rem 0 1rem;
      height: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: column; }
    #nav-overlay #social-media-buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem; }
    #nav-overlay #language-switch p {
      margin: 1rem 0 0 1rem;
      display: inline-block;
      border: 1px solid black;
      padding: 0 .5rem;
      font-size: 1.875rem; }
    #nav-overlay #language-switch:hover p {
      background: linear-gradient(20deg, #CCAF82 0%, #C6AD8C 20%, #C0AB97 100%); }
  /*
  #nav-footer {
    div#infos {
      margin: 1.5rem 1rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 2rem;
      grid-template-rows: repeat(4, 1.875rem);
      grid-auto-flow: column;
    }
  }
  #masthead {
    height: 4.75rem;
    padding: 0.25rem 0.5rem;
    h1 {
      font-size: 2.625rem;
      font-family: $francisGradientLeft; 
    }
    p {
      font-size: 0.8125rem;
      letter-spacing: 0.125rem;
    }
  }
  */
  #nav-overlay.visible {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  /* Navigation Overlay }}}2 */
  /* Mobile Slide Show {{{2 */
  .index #slogan h1 {
    font-size: 50px;
    line-height: 1.1; }
  /* End Mobile Slide Show }}}2 */
  /* Mobile Main {{{2 */
  main {
    /* Mobile Main Whitespace {{{3 */
    width: 100%;
    padding: 3rem 0 1rem;
    /* Mobile Main Single-Col Full-Width {{{4 */
    /* End Mobile Main Single-Col Full-Width }}}4 */
    /* Team/Music-Production-Teaser Texts {{{4 */
    /* End Team/Music-Production-Teaser Texts }}}4 */
    /* Mobile Music-Production Single Entry {{{4 */
    /* End Mobile Music-Production Single Entry }}}4 */
    /* Mobile Main Grids {{{4 */
    /* End Mobile Main Grids }}}4 */
    /* End Mobile Main Whitespace }}}3 */
    /* Main Font Styles {{{3 */
    /* End Main Font Styles }}}3 */ }
    main h2 {
      padding: 0 20px;
      margin: 0 0 0.8125rem 0; }
    main section,
    main section.single-col,
    main section.alternating-grid-text-large,
    main section.alternating-grid-image-large,
    main section.alternating-grid-text-large:nth-of-type(2n+1),
    main section.alternating-grid-image-large:nth-of-type(2n+1) {
      width: 100%;
      min-width: 100%;
      margin: 1.25rem auto; }
      main section .image-cell,
      main section .text-cell,
      main section > *,
      main section.single-col .image-cell,
      main section.single-col .text-cell,
      main section.single-col > *,
      main section.alternating-grid-text-large .image-cell,
      main section.alternating-grid-text-large .text-cell,
      main section.alternating-grid-text-large > *,
      main section.alternating-grid-image-large .image-cell,
      main section.alternating-grid-image-large .text-cell,
      main section.alternating-grid-image-large > *,
      main section.alternating-grid-text-large:nth-of-type(2n+1) .image-cell,
      main section.alternating-grid-text-large:nth-of-type(2n+1) .text-cell,
      main section.alternating-grid-text-large:nth-of-type(2n+1) > *,
      main section.alternating-grid-image-large:nth-of-type(2n+1) .image-cell,
      main section.alternating-grid-image-large:nth-of-type(2n+1) .text-cell,
      main section.alternating-grid-image-large:nth-of-type(2n+1) > * {
        padding: 0 20px;
        min-width: auto; }
      main section .full-width,
      main section.single-col .full-width,
      main section.alternating-grid-text-large .full-width,
      main section.alternating-grid-image-large .full-width,
      main section.alternating-grid-text-large:nth-of-type(2n+1) .full-width,
      main section.alternating-grid-image-large:nth-of-type(2n+1) .full-width {
        margin-bottom: 5px; }
      main section h2,
      main section.single-col h2,
      main section.alternating-grid-text-large h2,
      main section.alternating-grid-image-large h2,
      main section.alternating-grid-text-large:nth-of-type(2n+1) h2,
      main section.alternating-grid-image-large:nth-of-type(2n+1) h2 {
        margin-top: 1.75rem;
        padding: 0; }
      main section h3,
      main section.single-col h3,
      main section.alternating-grid-text-large h3,
      main section.alternating-grid-image-large h3,
      main section.alternating-grid-text-large:nth-of-type(2n+1) h3,
      main section.alternating-grid-image-large:nth-of-type(2n+1) h3 {
        margin-bottom: 0.125rem; }
      main section h3.encouragement-subtitle,
      main section.single-col h3.encouragement-subtitle,
      main section.alternating-grid-text-large h3.encouragement-subtitle,
      main section.alternating-grid-image-large h3.encouragement-subtitle,
      main section.alternating-grid-text-large:nth-of-type(2n+1) h3.encouragement-subtitle,
      main section.alternating-grid-image-large:nth-of-type(2n+1) h3.encouragement-subtitle {
        margin-bottom: 0.75rem; }
      main section .accordion-trigger,
      main section .accordion-collapse,
      main section.single-col .accordion-trigger,
      main section.single-col .accordion-collapse,
      main section.alternating-grid-text-large .accordion-trigger,
      main section.alternating-grid-text-large .accordion-collapse,
      main section.alternating-grid-image-large .accordion-trigger,
      main section.alternating-grid-image-large .accordion-collapse,
      main section.alternating-grid-text-large:nth-of-type(2n+1) .accordion-trigger,
      main section.alternating-grid-text-large:nth-of-type(2n+1) .accordion-collapse,
      main section.alternating-grid-image-large:nth-of-type(2n+1) .accordion-trigger,
      main section.alternating-grid-image-large:nth-of-type(2n+1) .accordion-collapse {
        margin-top: .5rem; }
      main section .music-production-links,
      main section.single-col .music-production-links,
      main section.alternating-grid-text-large .music-production-links,
      main section.alternating-grid-image-large .music-production-links,
      main section.alternating-grid-text-large:nth-of-type(2n+1) .music-production-links,
      main section.alternating-grid-image-large:nth-of-type(2n+1) .music-production-links {
        margin-top: .5rem; }
    main section.alternating-grid-image-large p.text-column {
      transform: translateY(-5px); }
    main section.alternating-grid-text-large h3.player-track-title {
      margin: 10px auto; }
    main section.single-col p.other-button {
      margin-left: 20px;
      padding-top: 1px;
      padding-bottom: 3px; }
    main section.single-col img.full-width {
      margin: 0; }
    main section.single-col p.video-caption {
      font-size: 0.875rem;
      margin-top: 0; }
    main section.alternating-grid-text-large h3.team-name,
    main section.alternating-grid-text-large h3.music-production-title,
    main section.alternating-grid-text-large p.team-quote,
    main section.alternating-grid-text-large p.music-production-lead-title {
      font-size: 1.25rem;
      line-height: 1.15;
      margin: 0; }
    main section.alternating-grid-text-large h3.team-name,
    main section.alternating-grid-text-large h3.music-production-title {
      margin-top: 1rem; }
    main section.alternating-grid-text-large div.accordion {
      margin-top: 0.625rem; }
    main .cover-image {
      margin: 1.25rem auto 0; }
    main .order-download {
      display: block;
      margin: 0 auto 1.25rem; }
      main .order-download .hear, main .order-download .buy, main .order-download .share {
        margin-top: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
      main .order-download .share {
        margin-bottom: 2.5rem; }
      main .order-download h4 {
        text-align: center;
        width: 100%; }
      main .order-download div {
        margin: 0 10px; }
      main .order-download .igroove-sms {
        width: 100%;
        margin: 1.5rem 0 0; }
    main .artist-teaser-grid {
      grid-template-columns: 1fr; }
      main .artist-teaser-grid .artist-teaser {
        margin-bottom: 1rem; }
        main .artist-teaser-grid .artist-teaser h3.artist-name {
          text-align: left;
          margin: 0.875rem auto 0.25rem 0; }
        main .artist-teaser-grid .artist-teaser p.artist-link {
          margin: 0.25rem auto 0 0; }
    main blockquote {
      margin: 1.5rem auto; }
    main section,
    main section.single-col,
    main section.alternating-grid-text-large,
    main section.alternating-grid-text-large:nth-of-type(2n+1) {
      display: block; }
    main section.alternating-grid-image-large,
    main section.alternating-grid-image-large:nth-of-type(2n+1) {
      padding: 0 20px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content min-content 1fr;
      grid-column-gap: 10px;
      margin: 0.5rem auto; }
      main section.alternating-grid-image-large .image-cell,
      main section.alternating-grid-image-large .text-column,
      main section.alternating-grid-image-large:nth-of-type(2n+1) .image-cell,
      main section.alternating-grid-image-large:nth-of-type(2n+1) .text-column {
        padding: 0; }
      main section.alternating-grid-image-large .image-cell,
      main section.alternating-grid-image-large:nth-of-type(2n+1) .image-cell {
        grid-row: 2 / span 2;
        grid-column: 1/2; }
      main section.alternating-grid-image-large .text-column,
      main section.alternating-grid-image-large:nth-of-type(2n+1) .text-column {
        grid-column: 2/3; }
      main section.alternating-grid-image-large h3.text-column,
      main section.alternating-grid-image-large:nth-of-type(2n+1) h3.text-column {
        grid-column: 1/-1;
        margin-bottom: .25rem; }
    main h2 {
      font-size: 2.625rem;
      line-height: 1;
      text-align: left; }
    main section h3,
    main section.single-col h3,
    main section.alternating-grid-text-large h3,
    main section.alternating-grid-image-large h3 {
      font-size: 1.25rem;
      line-height: 1.15; }
    main section p, main section ul, main section li, main section table, main section .accordion .visible *, main section .accordion .collapsed *,
    main section.single-col p,
    main section.single-col ul,
    main section.single-col li,
    main section.single-col table,
    main section.single-col .accordion .visible *,
    main section.single-col .accordion .collapsed *,
    main section.alternating-grid-text-large p,
    main section.alternating-grid-text-large ul,
    main section.alternating-grid-text-large li,
    main section.alternating-grid-text-large table,
    main section.alternating-grid-text-large .accordion .visible *,
    main section.alternating-grid-text-large .accordion .collapsed *,
    main section.alternating-grid-image-large p,
    main section.alternating-grid-image-large ul,
    main section.alternating-grid-image-large li,
    main section.alternating-grid-image-large table,
    main section.alternating-grid-image-large .accordion .visible *,
    main section.alternating-grid-image-large .accordion .collapsed * {
      font-size: 1.1875rem;
      line-height: 1.2; }
    main section .accordion-trigger,
    main section .accordion-collapse,
    main section.single-col .accordion-trigger,
    main section.single-col .accordion-collapse,
    main section.alternating-grid-text-large .accordion-trigger,
    main section.alternating-grid-text-large .accordion-collapse,
    main section.alternating-grid-image-large .accordion-trigger,
    main section.alternating-grid-image-large .accordion-collapse {
      font-size: 0.9375rem;
      line-height: 1.3; }
      main section .accordion-trigger span::before,
      main section .accordion-collapse span::before,
      main section.single-col .accordion-trigger span::before,
      main section.single-col .accordion-collapse span::before,
      main section.alternating-grid-text-large .accordion-trigger span::before,
      main section.alternating-grid-text-large .accordion-collapse span::before,
      main section.alternating-grid-image-large .accordion-trigger span::before,
      main section.alternating-grid-image-large .accordion-collapse span::before {
        transform: translateY(1px); }
    main blockquote p {
      font-size: 2.625rem; }
  /* End Mobile Main }}}2 */
  /* Layout Mobile Footer {{{2 */
  footer,
  #overlay-footer {
    width: 100%;
    margin-top: 1rem; }
    footer div#infos,
    #overlay-footer div#infos {
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 0.5rem;
      grid-template-rows: repeat(3, 2rem);
      grid-auto-flow: column;
      font-size: 15px; }
      footer div#infos p,
      #overlay-footer div#infos p {
        margin: 0;
        padding: 0;
        line-height: 1.1; }
    footer #masthead,
    #overlay-footer #masthead {
      height: 4.75rem;
      padding: 0.25rem 0.5rem; }
      footer #masthead h1,
      #overlay-footer #masthead h1 {
        font-size: 2.625rem;
        margin-bottom: 0; }
      footer #masthead p,
      #overlay-footer #masthead p {
        color: white;
        font-size: 0.8125rem;
        letter-spacing: 0.125rem; }
  /* positioning of #overlay-footer in overlay-styles */
  #social-media-icons svg:first-of-type {
    margin-right: 0.5rem; }
  /* End Layout Mobile Footer }}}2*/ }

/* End Breakpoint for Mobile }}}1 */
/*************************/
/* Nav-Overlay Animation */
/*************************/
/* Keyframes Nav-Overlay {{{1 */
@keyframes overlay-animation {
  from {
    transform: translateY(3rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

/* End Keyframes Nav-Overlay }}}1 */
/* The End */
