@charset "UTF-8";
/* Variables {{{1 */
/* Font Weights {{{2 */
/* End Font Weights }}}2 */
/* Dimensions {{{2 */
/* End Dimensions }}}2 */
/* End Variables }}}1 */
/* quick stuff {{{1 */
#hamburger g rect {
  fill: #a5b4ff; }

#hamburger:hover g rect {
  fill: #0028ff; }

/* end quick stuff }}}1 */
/* Basic Text formatting {{{1 */
:root {
  color: black;
  font-family: "Calibre", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.1;
  font-variant-numeric: proportional-nums; }

/* Body Text {{{2 */
body {
  font-size: 1.375rem; }

/* Body Headings {{{3 */
h2 {
  font-family: "Freight Display";
  font-weight: 500;
  font-size: 6.25rem;
  line-height: 1;
  text-align: center; }

h3 {
  font-family: "Calibre", "Helvetica Neue", helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1875;
  margin-bottom: 1.25rem; }

/* End Body Headings }}}3 */
p {
  hyphens: auto;
  line-height: 1.4; }

p.video-caption {
  font-size: 0.875rem;
  line-height: 1.2; }

.text-cell {
  /* Accordion-Styles {{{3 */
  /* End Accordion-Styles }}}3 */
  /* Music-Production Overview {{{3 */
  /* End Music-Production Overview }}}3 */
  /* Events {{{3 */
  /* End Events }}}3 */ }
  .text-cell h3, .text-cell p {
    font-size: 2rem;
    line-height: 1.1875;
    margin: 0; }
  .text-cell h3 {
    font-weight: 300; }
  .text-cell p {
    font-weight: 500; }
  .text-cell .accordion .visible *,
  .text-cell .accordion .collapsed * {
    font-weight: 300;
    font-size: 22px;
    line-height: 1.45; }
  .text-cell .music-production-title {
    font-weight: 500; }
  .text-cell .music-production-lead-title {
    font-weight: 300; }
  .text-cell .music-production-lead {
    margin-top: 1rem; }
    .text-cell .music-production-lead * {
      font-weight: 300;
      font-size: 22px;
      line-height: 1.45; }
  .text-cell .teaser-link {
    font-weight: 300;
    font-size: 1.375rem;
    line-height: 1.45rem; }

strong, em {
  font-weight: 600; }

blockquote p {
  font-family: "Freight Display";
  font-weight: 500;
  font-style: italic;
  font-size: 6.25rem;
  line-height: 1;
  text-align: center;
  hyphens: none; }

/* End Body Text }}}2 */
/* Text Header {{{2 */
#masthead h1 {
  font-family: "Freight Display";
  font-size: 6.25rem;
  line-height: .75;
  font-weight: 400;
  font-style: normal; }
  #masthead h1 strong {
    font-weight: 700;
    font-style: italic; }

/* End Text Header }}}2 */
/* Link Styles {{{2 */
/* Basic Links {{{3 */
a {
  text-decoration: none;
  color: black;
  border-bottom: solid #a5b4ff 0.1875rem; }

a:link,
a:visited {
  color: black; }

a:hover {
  border-bottom: solid #0028ff 0.1875rem; }

/* End Basic Links }}}3 */
/* Masthead H1 {{{3 */
h1 a {
  border: none;
  background: transparent; }

h1 a:link, h1 a:visited, h1 a:focus, h1 a:active {
  color: white; }

h1 a:hover {
  background: none;
  border-bottom: none; }

/* End Masthead H1 }}}3 */
/* Header Nav Links {{{3 */
header nav ul li a {
  border-bottom: none; }

header nav ul li a:hover {
  font-weight: 700;
  background: transparent;
  border: none; }

header nav ul li a::after {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden; }

header nav ul li.active a {
  font-weight: 700; }

/* End Header Nav Links }}}3 */
/* Arrow Links {{{3 */
a.arrow-left-before:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_left.svg"); }

a.arrow-left-after:after {
  padding-left: 0.25rem;
  content: url("/assets/_pic/arrow_left.svg"); }

a.arrow-right-before:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg"); }

a.arrow-right-after:after {
  padding-left: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg"); }

/* End Arrow Links }}}3 */
/* Button Links {{{3 */
.button a {
  background: #a5b4ff;
  display: inline-block;
  padding: 0 0.25rem;
  border: none; }

.button a:hover,
.button a:active,
.button a:focus {
  background: #0028ff; }

/* End Button Links }}}3 */
/* Overlay Nav Links {{{3 */
#nav-overlay ul a {
  border: none; }

/* End Overlay Nav Links }}}3 */
/* Social Media Links {{{3 */
a.social-media-link {
  text-decoration: none;
  border: transparent;
  border: 0;
  border-bottom: 0 !important;
  outline: 0; }

a.social-media-link svg path {
  fill: #a5b4ff; }

a.social-media-link:hover svg path {
  fill: #0028ff; }

/* End Social Media Links }}}3 */
/* End Link Styles }}}2 */
/* End Basic Text formatting }}}1 */
/* Buttons {{{1 */
.accordion-collapse,
.accordion-trigger {
  display: inline-block;
  background: linear-gradient(20deg, #CCAF82 0%, #C6AD8C 20%, #C0AB97 100%);
  color: white;
  padding: 1px 10px 2px 7px;
  margin: 1rem 0;
  cursor: pointer; }
  .accordion-collapse span:before,
  .accordion-trigger span:before {
    content: "+";
    font-weight: 600;
    font-size: 1.2em;
    line-height: 0.8;
    display: inline-block;
    transform: translateY(2px);
    padding-right: 0.25rem; }

.accordion-collapse span:before {
  content: "–"; }

.accordion-collapse:hover,
.accordion-trigger:hover {
  background: #0028ff; }

/* End Buttons }}}1 */
/* Masthead Basic Layout {{{1 */
#masthead {
  height: 28rem;
  padding: 1.5rem 1.5rem 2.5rem 2rem;
  display: flex;
  align-content: flex-start;
  /* Masthead Backgrounds {{{2 */
  background-image: url("../_pic/masthead_backgrounds/home.png");
  background-position: bottom right;
  background-size: cover;
  /* End Masthead Backgrounds }}}2 */ }

/* End Masthead Basic Layout }}}1 */
/* Overlay Default Settings {{{1 */
nav#nav-overlay {
  display: none; }

/* End Overlay Default Settings }}}1 */
/* Header {{{1 */
header {
  background: white;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  /* Header Masthead Layout {{{2 */
  /* End Header Masthead Layout }}}2 */
  /* Header Nav Layout {{{2 */
  /* End Header Nav Layout }}}2 */ }
  header #hamburger {
    display: none; }
  header #masthead {
    transition: all 0.3s ease-out;
    flex-direction: column; }
    header #masthead h1, header #masthead p {
      margin: 0;
      transition: all 0.3s linear; }
  header nav {
    padding: 0.5rem 2rem; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      header nav ul li a {
        text-align: center; }
      header nav ul li a:after {
        display: block;
        content: attr(title);
        font-weight: 700;
        height: 0;
        overflow: hidden;
        visibility: hidden; }

/* End Header }}}1 */
/* Header Shrink {{{1 */
header.shrink {
  /* collapsed header */ }
  header.shrink #masthead {
    min-height: 0;
    height: 7.8rem;
    width: 100%;
    padding: 0 0 0 2rem;
    overflow: hidden;
    /* children have no influence on height */ }
  header.shrink h1, header.shrink p {
    opacity: 0;
    transform: translateY(-200px); }

header.mini #masthead {
  height: 0; }

/* End Header Shrink }}}1 */
/* Main Layout {{{1 */
main {
  width: 65rem;
  margin: 3.125rem auto;
  padding: 30.5rem 0 0;
  /* Main Grids {{{2 */
  /* Main Grids Single Column Grid {{{3 */
  /* End Main Grids Single Column Grid }}}3 */
  /* Main Grids Alternatig Grid Image Large {{{3 */
  /* End Main Grids Alternatig Grid Image Large }}}3 */
  /* Main Grids Alternating Grid Text Large {{{3 */
  /* End Main Grids Alternating Grid Text Large }}}3 */
  /* End Main Grids }}}2 */ }
  main h2 {
    margin: 0 0 3.125rem; }
  main section {
    margin: 3.125rem auto; }
  main section.single-col {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; }
    main section.single-col * {
      grid-column: 2/3; }
    main section.single-col .full-width {
      grid-column: 1/-1; }
  main section.alternating-grid-image-large {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 0; }
    main section.alternating-grid-image-large .image-cell img {
      width: 100%;
      height: auto; }
    main section.alternating-grid-image-large .text-cell {
      align-self: center;
      padding: 0 0 0 40px; }
      main section.alternating-grid-image-large .text-cell .teaser-link {
        margin-top: 1rem; }
  main section.alternating-grid-image-large:nth-child(2n+1) {
    grid-template-columns: 1fr 2fr; }
    main section.alternating-grid-image-large:nth-child(2n+1) div:first-child {
      order: 1; }
    main section.alternating-grid-image-large:nth-child(2n+1) .text-cell {
      padding: 0 40px 0 0; }
  main section.alternating-grid-text-large {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0; }
    main section.alternating-grid-text-large .image-cell img {
      width: 100%;
      height: auto; }
    main section.alternating-grid-text-large .text-cell {
      transform: translateY(-10px);
      padding: 0 0 0 40px; }
  main section.alternating-grid-text-large:nth-child(2n+1) {
    grid-template-columns: 2fr 1fr; }
    main section.alternating-grid-text-large:nth-child(2n+1) div:first-child {
      order: 1; }
    main section.alternating-grid-text-large:nth-child(2n+1) .text-cell {
      padding: 0 40px 0 0; }

/* Main Accordions Layout {{{2 */
.accordion {
  margin-top: 1rem; }
  .accordion .visible {
    outline: 0; }
  .accordion .collapsed {
    color: red; }
  .accordion .accordion-trigger {
    margin-top: 1rem; }

/* End Main Accordions Layout }}}2 */
/* End Main Layout }}}1 */
/* Footer {{{1 */
footer {
  margin-top: 4em;
  z-index: 9750;
  /* Footer Social Media Buttons Layout {{{2 */
  /* End Footer Social Media Buttons Layout }}}2 */
  /* Footer Info Container Layout {{{2 */
  /* Footer Info Container Layout }}}2 */
  /* Footer Masthead Layout {{{2 */
  /* End Footer Masthead Layout }}}2 */ }
  footer #social-media-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem; }
    footer #social-media-buttons svg:first-child {
      margin-right: 0.5rem; }
  footer #infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 2rem 0;
    /* Footer Info Items */ }
    footer #infos p {
      white-space: nowrap;
      margin-right: 1em; }
    footer #infos p:last-child {
      margin-right: 0; }
  footer #masthead {
    /* Background-Image and Logotype in Footer */
    margin-top: 1rem;
    flex-direction: column-reverse; }
    footer #masthead h1, footer #masthead p {
      color: white;
      margin: 0;
      line-height: 1; }

/* End Footer }}}1 */
/**********/
/* LAPTOP */
/**********/
/* Breakpoint for smaller Header/Footer {{{1 */
@media (max-width: 1440px) {
  /* Header & Footer {{{2 */
  header #masthead,
  footer #masthead {
    height: 19.5rem; }
    header #masthead h1,
    footer #masthead h1 {
      font-size: 5rem; }
    header #masthead p,
    footer #masthead p {
      font-size: 1.85rem;
      line-height: 1.3;
      letter-spacing: 0.45rem; }
  /* End Header & Footer }}}2 */
  :root {
    font-size: 14px; }
  /* Main {{{2 */
  main {
    width: auto;
    padding: 22rem 2rem 0;
    /* Main Grids {{{3 */
    /* Main Grids Single Column Grid {{{4 */
    /* End Main Grids Single Column Grid }}}4 */
    /* Main Grids Alternating Grid Image Large {{{4 */
    /* End Main Grids Alternating Grid Image Large }}}4 */
    /* Main Grids Alternating Grid Text Large {{{4 */
    /* End Main Grids Alternating Grid Text Large }}}4 */
    /* End Main Grids }}}3 */ }
    main section.single-col {
      grid-template-columns: 1fr minmax(550px, 680px) 1fr; }
      main section.single-col .full-width {
        grid-column: 1/-1; }
    main section.alternating-grid-image-large .text-cell {
      padding: 0 0 0 20px; }
    main section.alternating-grid-image-large .image-cell {
      min-width: 450px; }
    main section.alternating-grid-image-large:nth-child(2n+1) .text-cell {
      padding: 0 20px 0 0; }
    main section.alternating-grid-text-large .text-cell {
      padding: 0 0 0 20px; }
    main section.alternating-grid-text-large .image-cell {
      min-width: 250px; }
    main section.alternating-grid-text-large:nth-child(2n+1) .text-cell {
      padding: 0 20px 0 0; }
  /* End Main }}}2 */ }

/* End Breakpoint for smaller Header/Footer }}}1 */
/**********/
/* MOBILE */
/**********/
/* Breakpoint for Mobile {{{1 */
@media (max-width: 600px) {
  /* Layout Header {{{2 */
  header nav {
    display: none; }
  header #masthead {
    height: 4.75rem;
    padding: 0.25rem 1rem; }
    header #masthead h1 {
      font-size: 2.45rem; }
    header #masthead p {
      font-size: 1rem;
      line-height: 1.35;
      letter-spacing: 0.175rem; }
  header #hamburger {
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;
    transform: scale(0.75);
    transform-origin: top right;
    transition: all .3s ease-in; }
  header #hamburger:hover {
    transform: scale(1.1); }
  /* End Layout Header }}}2 */
  /* Layout Collapsed Header {{{2 */
  header.shrink #masthead {
    height: 4.75rem;
    padding: 0.25rem 1rem; }
  header.shrink h1, header.shrink p {
    opacity: 1;
    transform: translateY(0); }
  /* End Layout Collapsed Header }}}2 */
  /* Navigation Overlay {{{2 */
  body {
    height: 100%;
    overflow: auto; }
  .noScroll {
    opacity: 0;
    height: 0;
    overflow: hidden; }
  #nav-overlay {
    overflow-y: scroll;
    width: 100%;
    background: white;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    transition: all .2s ease-in;
    z-index: 9500;
    display: none;
    font-size: 1.875rem;
    line-height: 1.5;
    animation: overlay-animation .2s ease-in;
    /* Menü Style {{{3 */
    /* End Menü Style }}}3 */ }
    #nav-overlay ul {
      margin: 6rem 0 0;
      padding: 0 1rem 0 1rem;
      height: 100%;
      justify-content: space-between;
      display: flex;
      flex-direction: column; }
    #nav-overlay #social-media-buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem; }
  /*
  #nav-footer {
    div#infos {
      margin: 1.5rem 1rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 2rem;
      grid-template-rows: repeat(4, 1.875rem);
      grid-auto-flow: column;
    }
  }
  #masthead {
    height: 4.75rem;
    padding: 0.25rem 0.5rem;
    h1 {
      font-size: 2.625rem;
      font-family: $francisGradientLeft; 
    }
    p {
      font-size: 0.8125rem;
      letter-spacing: 0.125rem;
    }
  }
  */
  #nav-overlay.visible {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  /* Navigation Overlay }}}2 */
  /* Layout Main {{{2 */
  main {
    width: 100%;
    padding: 5rem 0 1rem;
    /* Main Micro Typography {{{3 */
    /* End Main Micro Typography }}}3 */ }
    main h2 {
      padding: 0 20px; }
    main section,
    main section.single-col,
    main section.alternating-grid-text-large,
    main section.alternating-grid-image-large,
    main section.alternating-grid-text-large:nth-child(2n+1),
    main section.alternating-grid-image-large:nth-child(2n+1) {
      width: 100%;
      min-width: 100%;
      display: block; }
      main section .image-cell,
      main section .text-cell,
      main section.single-col .image-cell,
      main section.single-col .text-cell,
      main section.alternating-grid-text-large .image-cell,
      main section.alternating-grid-text-large .text-cell,
      main section.alternating-grid-image-large .image-cell,
      main section.alternating-grid-image-large .text-cell,
      main section.alternating-grid-text-large:nth-child(2n+1) .image-cell,
      main section.alternating-grid-text-large:nth-child(2n+1) .text-cell,
      main section.alternating-grid-image-large:nth-child(2n+1) .image-cell,
      main section.alternating-grid-image-large:nth-child(2n+1) .text-cell {
        padding: 0 20px; }
    main h2 {
      font-size: 2.625rem;
      line-height: 1.1;
      text-align: left;
      margin: 0 0 0.8125rem 0; }
    main h2:not(:first-of-type) {
      margin-top: 1.75rem; }
  /* End Layout Mobile Main }}}2 */
  /* Layout Mobile Footer {{{2 */
  footer,
  #overlay-footer {
    width: 100%;
    margin-top: 1rem; }
    footer div#infos,
    #overlay-footer div#infos {
      margin: 1rem 1rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 2rem;
      grid-template-rows: repeat(4, 2rem);
      grid-auto-flow: column;
      font-size: 15px; }
    footer #masthead,
    #overlay-footer #masthead {
      height: 4.75rem;
      padding: 0.25rem 0.5rem; }
      footer #masthead h1,
      #overlay-footer #masthead h1 {
        font-size: 2.625rem;
        line-height: 1;
        margin-bottom: 0; }
      footer #masthead p,
      #overlay-footer #masthead p {
        color: white;
        font-size: 0.8125rem;
        letter-spacing: 0.125rem; }
  /* positioning of #overlay-footer in overlay-styles */
  #social-media-icons svg:first-of-type {
    margin-right: 0.5rem; }
  /* End Layout Mobile Footer }}}2*/ }

/* End Breakpoint for Mobile }}}1 */
/* Keyframes Nav-Overlay {{{1 */
@keyframes overlay-animation {
  from {
    transform: translateY(3rem);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

/* End Keyframes Nav-Overlay }}}1 */
/* The End */
