@charset "UTF-8";

/* Variables {{{1 */

$text-color: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$blue: rgb(165, 180, 255);
$gold: linear-gradient(20deg, #CCAF82 0%, #C6AD8C 20%, #C0AB97 100%);
$blue-hover: rgb(0, 40, 255);
$gray: rgb(125, 215, 215);
$antiqua: 'Freight Display';
$grotesk: 'Calibre', 'Helvetica Neue', helvetica, arial, sans-serif;

/* Font Weights {{{2 */

$light: 300;
$normal: 400;
$book: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

/* End Font Weights }}}2 */

/* Dimensions {{{2 */

// das ist alles nicht so cool
// das ziel ist ja RWD!
$maincol-desktop: 65rem; // 1040px
$centered-col-desktop: 42.5rem; // 680px
$alt-vid-grid-col-prim: 42.5rem; // 680px
$alt-vid-grid-col-sec: 1fr;

/* End Dimensions }}}2 */

/* End Variables }}}1 */

/* quick stuff {{{1 */

#hamburger g rect { fill: $blue; }
#hamburger:hover g rect { fill: $blue-hover; }

/* end quick stuff }}}1 */

/* Basic Text formatting {{{1 */
//
// no margin and padding in this section!
//

:root {
  color: $text-color;
  font-family: $grotesk;
  font-weight: $light;
  font-size: 16px;
  line-height: 1.1;
  font-variant-numeric: proportional-nums;
}

/* Body Text {{{2 */

body { font-size: 1.375rem; }

/* Body Headings {{{3 */

h2 { // Entry Title
  font-family: $antiqua;
  font-weight: $medium;
  font-size: 6.25rem;
  line-height: 1;
  text-align: center;
}

h3 {
  font-family: $grotesk;
  font-weight: $medium;
  font-size: 2rem;
  line-height: 1.1875;
  margin-bottom: 1.25rem;
}

/* End Body Headings }}}3 */


p {
  hyphens: auto;  
  line-height: 1.4;
}

p.video-caption { // Video Legende Home ganzspaltig
  font-size: 0.875rem;
  line-height: 1.2;
}

.text-cell {
  h3, p {
    font-size: 2rem;
    line-height: 1.1875;
    margin: 0;
  }
  h3 { font-weight: $light; }
  p { font-weight: $medium; }
  
  /* Accordion-Styles {{{3 */
  
  .accordion .visible,
  .accordion .collapsed {
    * {
      font-weight: $light;
      font-size: 22px;
      line-height: 1.45;
    }
  }
  
  /* End Accordion-Styles }}}3 */

  /* Music-Production Overview {{{3 */
  
  .music-production-title { font-weight: $medium; }
  .music-production-lead-title { font-weight: $light; }
  .music-production-lead { // Beschrieb
    margin-top: 1rem;
    * {
      font-weight: $light;
      font-size: 22px;
      line-height: 1.45;
    } 
  }
  
  /* End Music-Production Overview }}}3 */

  /* Events {{{3 */
  
  .teaser-link { // comment
    font-weight: $light;
    font-size: 1.375rem; 
    line-height: 1.45rem;
  }
  
  /* End Events }}}3 */

}

strong, em { font-weight: $semibold; }

blockquote p {
  font-family: $antiqua;
  font-weight: $medium;
  font-style: italic;
  font-size: 6.25rem;
  line-height: 1;
  text-align: center;
  hyphens: none;
}

/* End Body Text }}}2 */

/* Text Header {{{2 */

#masthead h1 {
  font-family: $antiqua;
  font-size: 6.25rem;
  line-height: .75;
  font-weight: $book;
  font-style: normal;
  strong {
    font-weight: $bold;
    font-style: italic;
  }
}

/* End Text Header }}}2 */

/* Link Styles {{{2 */

/* Basic Links {{{3 */

a {
  text-decoration: none;
  color: $text-color;
  border-bottom: solid $blue .1875rem;
}

a:link,
a:visited { color: black; }
a:hover { border-bottom: solid $blue-hover .1875rem; }

/* End Basic Links }}}3 */

/* Masthead H1 {{{3 */

h1 {
  a {
    border: none;
    background: transparent;
    // padding: 0;
  }
  a:link, a:visited, a:focus, a:active {
    color: $white;
  }
}
h1 a:hover {
  background: none;
  border-bottom: none;
}

/* End Masthead H1 }}}3 */

/* Header Nav Links {{{3 */

header nav ul li a { border-bottom: none; }

header nav ul li a:hover {
  font-weight: $bold;
  background: transparent;
  border: none;
}

header nav ul li a::after {
  // prevent jumping on hover
  display: block;
  content: attr(title); // defines dimension of element
  font-weight: $bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

header nav ul li.active a { font-weight: $bold; }

/* End Header Nav Links }}}3 */

/* Arrow Links {{{3 */

a.arrow-left-before:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_left.svg");
}
a.arrow-left-after:after {
  padding-left: 0.25rem;
  content: url("/assets/_pic/arrow_left.svg");
}
a.arrow-right-before:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg");
}
a.arrow-right-after:after {
  padding-left: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg");
}

/* End Arrow Links }}}3 */

/* Button Links {{{3 */

.button a { // «Buttons» sind Links, keine Buttons
  // wird das überhaupt irgendow eingesetzt?
  // und stimmt das so oder müsste es a.button heissen???
  // wird das überhaupt irgendow eingesetzt?
  // wird das überhaupt irgendow eingesetzt?
  background: $blue;
  display: inline-block;
  padding: 0 0.25rem;
  border: none;
}
.button a:hover,
.button a:active,
.button a:focus { background: $blue-hover; }

/* End Button Links }}}3 */

/* Overlay Nav Links {{{3 */

#nav-overlay ul a { border: none; }

/* End Overlay Nav Links }}}3 */

/* Social Media Links {{{3 */

a.social-media-link {
  text-decoration: none;
  border: transparent;
  border: 0;
  border-bottom: 0 !important;
  outline: 0;
}

// a.social-media-link:hover svg use { fill: $blue-hover; }
a.social-media-link svg path { fill: $blue; }
a.social-media-link:hover svg path { fill: $blue-hover; }

/* End Social Media Links }}}3 */

/* End Link Styles }}}2 */

/* End Basic Text formatting }}}1 */

/* Buttons {{{1 */

.accordion-collapse,
.accordion-trigger {
  justify-self: start;
  align-self: start;
  display: inline-block;
  background: $gold;
  color: white;
  padding: 1px 10px 2px 7px;
  margin: 1rem 0;
  cursor: pointer;
  span:before { 
    content: "+";
    font-weight: $semibold;
    font-size: 1.2em;
    line-height: 0.8;
    display: inline-block;
    transform: translateY(2px);
    padding-right: 0.25rem;
  }
}

.accordion-collapse span:before {
  content: "–";
}

.accordion-collapse:hover,
.accordion-trigger:hover {
  background: $blue-hover;
}

/* End Buttons }}}1 */

/* Masthead Basic Layout {{{1 */

#masthead { // Masthead Global Settings: Header & Footer
  height: 28rem;
  padding: 1.5rem 1.5rem 2.5rem 2rem;
  display: flex;
  align-content: flex-start;

  /* Masthead Backgrounds {{{2 */
  background-image: url("../_pic/masthead_backgrounds/home.png");
  background-position: bottom right;
  background-size: cover;
  /* End Masthead Backgrounds }}}2 */

}

/* End Masthead Basic Layout }}}1 */

/* Overlay Default Settings {{{1 */

nav#nav-overlay { display: none; } // Overlay ausblenden

/* End Overlay Default Settings }}}1 */

/* Header {{{1 */

header {
  background: $white;
  margin: 0; padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  #hamburger { display: none; } // no hamburger on desktop

  /* Header Masthead Layout {{{2 */
  
  #masthead {
    transition: all 0.3s ease-out;
    flex-direction: column;
    h1, p {
      margin: 0;
      transition: all 0.3s linear;
    }
  }
  
  /* End Header Masthead Layout }}}2 */
  
  /* Header Nav Layout {{{2 */

  nav {
    padding: 0.5rem 2rem;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li a {
        // display: inline-block;
        text-align:center;
      }
      // prevent shaky text alignment on hover
      // problem: differing width when bold
      // https://stackoverflow.com/questions/556153/inline-elements-shifting-when-made-bold-on-hover
      li a:after {
        display: block;
        content: attr(title);
        font-weight: $bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }
  
  /* End Header Nav Layout }}}2 */
}

/* End Header }}}1 */

/* Header Shrink {{{1 */

header.shrink { /* collapsed header */
  #masthead {
    min-height: 0;
    height: 7.8rem;
    width: 100%;
    padding: 0 0 0 2rem;
    overflow: hidden; /* children have no influence on height */
  }
  h1, p {
    opacity: 0;
    transform: translateY(-200px);
  }
}

header.mini { // footer visible, see JS helpers
  #masthead { height: 0; } 
}

/* End Header Shrink }}}1 */

/* Main Layout {{{1 */

main {
  width: $maincol-desktop;
  margin: 3.125rem auto;
  padding: 30.5rem 0 0; 

  h2 { margin: 0 0 3.125rem; }

  h2:nth-child(n+2) {
    // margin-top: 4rem; // too much
  }

  section { margin: 3.125rem auto; } // kann display:grid hier hinein?

  /* Main Grids {{{2 */
  
  /* Main Grids Single Column Grid {{{3 */
  
  section.single-col {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    * {
      grid-column: 2/3;
      // background: PaleTurquoise;
    }
    .full-width {
      grid-column: 1/-1;
      // background: LightBlue;
    }
  }
  
  /* End Main Grids Single Column Grid }}}3 */

  /* Main Grids Alternatig Grid Image Large {{{3 */
  
  section.alternating-grid-image-large {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 0;
    .image-cell {
      img {
        width: 100%;
        height: auto;
      }
    }
    .text-cell { 
      align-self: center;
      // background: lavender;
      padding: 0 0 0 40px;
      .teaser-link { 
        margin-top: 1rem;
      }
    }
  }

  section.alternating-grid-image-large:nth-child(2n+1) {
    grid-template-columns: 1fr 2fr;
    div:first-child { order: 1; }
    .text-cell { 
      // background: palegreen;
      padding: 0 40px 0 0;
    }
  }

  /* End Main Grids Alternatig Grid Image Large }}}3 */

  /* Main Grids Alternating Grid Text Large {{{3 */
  
  section.alternating-grid-text-large {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 0;
    .image-cell {
      img {
        width: 100%;
        height: auto;
      }
    }
    .text-cell {
      transform: translateY(-10px);
      padding: 0 0 0 40px;
    }
  }

  section.alternating-grid-text-large:nth-child(2n+1) {
    grid-template-columns: 2fr 1fr;
    div:first-child { order: 1; }
    .text-cell { padding: 0 40px 0 0; }
  }

  /* End Main Grids Alternating Grid Text Large }}}3 */

  /* End Main Grids }}}2 */

}

/* Main Accordions Layout {{{2 */

.accordion {
  margin-top: 1rem;
  .visible { outline: 0; }
  .collapsed { color: red; }
  .accordion-trigger { margin-top: 1rem; }
  .accordion-collapse { }
}

/* End Main Accordions Layout }}}2 */


/* End Main Layout }}}1 */

/* Footer {{{1 */

footer {
  margin-top: 4em;
  z-index: 9750;

  /* Footer Social Media Buttons Layout {{{2 */
  #social-media-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    svg:first-child { margin-right: 0.5rem; }
  }
  /* End Footer Social Media Buttons Layout }}}2 */

  /* Footer Info Container Layout {{{2 */
  #infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 2rem 0;

    /* Footer Info Items */
    p { 
      white-space: nowrap;
      margin-right: 1em;
    }
    p:last-child {margin-right: 0; }
  }
  /* Footer Info Container Layout }}}2 */

  /* Footer Masthead Layout {{{2 */
  
  #masthead { /* Background-Image and Logotype in Footer */
    margin-top: 1rem;
    flex-direction: column-reverse;
    h1, p {
      color: white;
      margin: 0;
      line-height: 1;
    }
  }
  
  /* End Footer Masthead Layout }}}2 */

}

/* End Footer }}}1 */

/**********/
/* LAPTOP */
/**********/

/* Breakpoint for smaller Header/Footer {{{1 */

@media (max-width: 1440px) { // Apple 15" Laptop

  /* Header & Footer {{{2 */
  header #masthead,
  footer #masthead {
    height: 19.5rem;
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.85rem;
      line-height: 1.3;
      letter-spacing: 0.45rem;
    }
  }
  /* End Header & Footer }}}2 */

  :root {
    font-size: 14px; // idealerweise reicht nur diese Anpassung?
  }

  /* Main {{{2 */
  main {
    width: auto;
    padding: 22rem 2rem 0;

    /* Main Grids {{{3 */
    
    /* Main Grids Single Column Grid {{{4 */
    
    section.single-col {
      grid-template-columns: 1fr minmax(550px, 680px) 1fr;
      .full-width { grid-column: 1/-1; }
    }
    
    /* End Main Grids Single Column Grid }}}4 */

    /* Main Grids Alternating Grid Image Large {{{4 */
    
    section.alternating-grid-image-large {
      .text-cell { padding: 0 0 0 20px; }
      .image-cell { min-width: 450px; }
    }

    section.alternating-grid-image-large:nth-child(2n+1) {
      .text-cell { padding: 0 20px 0 0; }
    }
    
    /* End Main Grids Alternating Grid Image Large }}}4 */

    /* Main Grids Alternating Grid Text Large {{{4 */
    
    section.alternating-grid-text-large {
      .text-cell { padding: 0 0 0 20px; }
      .image-cell { min-width: 250px; }
    }

    section.alternating-grid-text-large:nth-child(2n+1) {
      .text-cell { padding: 0 20px 0 0; }
    }
    
    /* End Main Grids Alternating Grid Text Large }}}4 */
    
    /* End Main Grids }}}3 */

  }

  /* End Main }}}2 */

}

/* End Breakpoint for smaller Header/Footer }}}1 */

/**********/
/* MOBILE */
/**********/

/* Breakpoint for Mobile {{{1 */

@media (max-width: 600px) {

  /* Layout Header {{{2 */
  header {
    nav { display: none; } // hide Navigation
    #masthead {
      height: 4.75rem;
      padding: 0.25rem 1rem;
      h1 { font-size: 2.45rem; }
      p {
        font-size: 1rem;
        line-height: 1.35;
        letter-spacing: 0.175rem;
      }
    }
    #hamburger {
      position: absolute;
      display: block;
      top: 1rem;
      right: 1rem;
      transform: scale(0.75);
      transform-origin: top right;
      transition: all .3s ease-in;
    }
    #hamburger:hover { transform: scale(1.1); }
  }
  /* End Layout Header }}}2 */

  /* Layout Collapsed Header {{{2 */
  header.shrink { // keine Änderung bei Scroll
    #masthead {
      height: 4.75rem;
      padding: 0.25rem 1rem;
    }
    h1, p {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* End Layout Collapsed Header }}}2 */

  /* Navigation Overlay {{{2 */

  // html {
  //   height  : 100%;
  //   overflow: hidden;
  // }

  body {
      height  : 100%;
      overflow: auto;
  }
  .noScroll { opacity: 0; height: 0; overflow: hidden; } // main & footer, prevent scrolling behind overlay
  #nav-overlay {
    overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    // min-height: 100vh; // zusätzlich wärs gut, scrollen zu unterbinden, solange overlay sichtbar
    width: 100%;
    background: $white;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /*bottom: 0;*/
    // -webkit-overflow-scrolling: touch;
    // transform: translateY(-100vh);
    transition: all .2s ease-in;
    z-index: 9500;
    display: none;
    font-size: 1.875rem;
    line-height: 1.5;
    // padding: 20rem 1rem 0 2rem;
    animation: overlay-animation .2s ease-in; // bringts nicht so, weil nur in eine Richtung möglich

    /* Menü Style {{{3 */
    ul {
      margin: 6rem 0 0;
      padding: 0 1rem 0 1rem;
      height: 100%; 
      justify-content: space-between; 
      display: flex; 
      flex-direction: column;
    }
    /* End Menü Style }}}3 */
    #social-media-buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
  }
  /*
  #nav-footer {
    div#infos {
      margin: 1.5rem 1rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 2rem;
      grid-template-rows: repeat(4, 1.875rem);
      grid-auto-flow: column;
    }
  }
  #masthead {
    height: 4.75rem;
    padding: 0.25rem 0.5rem;
    h1 {
      font-size: 2.625rem;
      font-family: $francisGradientLeft; 
    }
    p {
      font-size: 0.8125rem;
      letter-spacing: 0.125rem;
    }
  }
  */
  #nav-overlay.visible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* Navigation Overlay }}}2 */

  /* Layout Main {{{2 */
  main {
    width: 100%;
    padding: 5rem 0 1rem;

    h2 { padding: 0 20px; }

    section,
    section.single-col,
    section.alternating-grid-text-large,
    section.alternating-grid-image-large,
    section.alternating-grid-text-large:nth-child(2n+1),
    section.alternating-grid-image-large:nth-child(2n+1) {
      // should probably stay two-col-grid
      width: 100%;
      min-width: 100%;
      display: block;
      .image-cell,
      .text-cell { padding: 0 20px; }
    }

    /* Main Micro Typography {{{3 */
    h2 { // Seitenüberschriften
      font-size: 2.625rem;
      line-height: 1.1;
      text-align: left;
      margin: 0 0 0.8125rem 0;
    }
    h2:not(:first-of-type) { // Alle zusätzlichen h2 Überschriften nach Seitentitel
      margin-top: 1.75rem;
    }
    /* End Main Micro Typography }}}3 */

  }
  /* End Layout Mobile Main }}}2 */

  /* Layout Mobile Footer {{{2 */
  footer,
  #overlay-footer {
    width: 100%;
    margin-top: 1rem;
    div#infos {
      margin: 1rem 1rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 2rem;
      grid-template-rows: repeat(4, 2rem);
      grid-auto-flow: column;
      font-size: 15px;
    }
    #masthead { // alles prüfen!
      height: 4.75rem;
      padding: 0.25rem 0.5rem;
      h1 {
        font-size: 2.625rem;
        // font-family: $francisGradientLeft; 
        line-height: 1;
        margin-bottom: 0;
      }
      p {
        color: white;
        font-size: 0.8125rem;
        letter-spacing: 0.125rem;
      }
    }
  }
  /* positioning of #overlay-footer in overlay-styles */

  #social-media-icons svg:first-of-type {
    margin-right: 0.5rem;
  }

  /* End Layout Mobile Footer }}}2*/

}

/* End Breakpoint for Mobile }}}1 */

/* Keyframes Nav-Overlay {{{1 */
@keyframes overlay-animation {
  from { transform: translateY(3rem); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
/* End Keyframes Nav-Overlay }}}1 */

/* The End */
