@charset "UTF-8";

/* Variables {{{1 */

$text-color: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$blue: rgb(165, 180, 255);
$blue-hover: rgb(0, 40, 255);
$gray: rgb(125, 215, 215);
$antiqua: 'serif';
$grotesk: 'Calibre', 'Helvetica Neue', helvetica, arial, sans-serif;

/* End Variables }}}1 */

/* quick stuff {{{1 */

#hamburger g rect { fill: $blue; }
#hamburger:hover g rect { fill: $blue-hover; }

/* end quick stuff }}}1 */

/* Basic Text formatting {{{1 */

:root {
  color: $text-color;
  font-family: $grotesk;
  font-size: 16px;
  line-height: 1.1;
}

body { font-size: 1.375rem; }

#masthead h1 {
  font-family: $antiqua;
  font-size: 6.25rem;
}

/* Links {{{2 */

/* Basic Links {{{3 */

a {
  text-decoration: none;
  color: $text-color;
  border-bottom: solid $blue .1875rem;
}

a:link,
a:visited { color: black; }
a:hover { border-bottom: solid $blue-hover .1875rem; }

/* End Basic Links }}}3 */

/* Masthead H1 {{{3 */

h1 {
  a {
    border: none;
    background: transparent;
    // padding: 0;
  }
  a:link, a:visited, a:focus, a:active {
    color: $white;
  }
}
h1 a:hover {
  background: none;
  border-bottom: none;
}

/* End Masthead H1 }}}3 */

/* Header Nav Links {{{3 */

header nav ul li a { border-bottom: none; }
header nav ul li a:hover {
  font-weight: 900;
  background: transparent;
  border: none;
}
header nav ul li.active a { font-weight: 900; }

/* End Header Nav Links }}}3 */

/* Arrow Links {{{3 */

a.arrow-left-before:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_left.svg");
}
a.arrow-left-after:after {
  padding-left: 0.25rem;
  content: url("/assets/_pic/arrow_left.svg");
}
a.arrow-right-before:before {
  padding-right: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg");
}
a.arrow-right-after:after {
  padding-left: 0.25rem;
  content: url("/assets/_pic/arrow_right.svg");
}

/* End Arrow Links }}}3 */

/* Button Links {{{3 */

.button a { // «Buttons» sind natürlich degenerierte Links
  background: $blue;
  display: inline-block;
  padding: 0 0.25rem;
  border: none;
}
.button a:hover,
.button a:active,
.button a:focus { background: $blue-hover; }

/* End Button Links }}}3 */

/* Overlay Nav Links {{{3 */

#nav-overlay ul a { border: none; }

/* End Overlay Nav Links }}}3 */

/* Social Media Links {{{3 */

a.social-media-link {
  text-decoration: none;
  border: transparent;
  border: 0;
  border-bottom: 0 !important;
  outline: 0;
}

// a.social-media-link:hover svg use { fill: $blue-hover; }
a.social-media-link svg path { fill: $blue; }
a.social-media-link:hover svg path { fill: $blue-hover; }

/* End Social Media Links }}}3 */

/* End Links }}}2 */

/* End Basic Text formatting }}}1 */

/* Masthead Basic Layout {{{1 */

#masthead { // comment
  height: 28rem;
  padding: 1.5rem 1.5rem 2.5rem 2rem;
  display: flex;
  align-content: flex-start;

  /* Masthead Backgrounds {{{2 */
  background-image: url("../_pic/masthead_backgrounds/home.png");
  background-position: bottom right;
  background-size: cover;
  /* End Masthead Backgrounds }}}2 */

}

/* End Masthead Basic Layout }}}1 */

/* Other Basic Settings {{{1 */

nav#nav-overlay { display: none; } // Overlay ausblenden

/* End Other Basic Settings }}}1 */

/* Header {{{1 */

header {
  background: $white;
  margin: 0; padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  #hamburger { display: none; } // no hamburger on desktop

  /* Header Masthead Layout {{{2 */
  
  #masthead {
    transition: all 0.3s ease-out;
    flex-direction: column;
    h1, p {
      margin: 0;
      transition: all 0.3s linear;
    }
  }
  
  /* End Header Masthead Layout }}}2 */
  
  /* Header Nav Layout {{{2 */

  nav {
    padding: 0.5rem 2rem;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      li a {
        // display: inline-block;
        text-align:center;
      }
      // prevent shaky text alignment on hover
      // problem: differing width when bold
      // https://stackoverflow.com/questions/556153/inline-elements-shifting-when-made-bold-on-hover
      li a:after {
        display: block;
        content: attr(title);
        font-weight: 900;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
    }
  }
  
  /* End Header Nav Layout }}}2 */
}

/* End Header }}}1 */

/* Header Shrink {{{1 */

header.shrink { /* collapsed header */
  #masthead {
    min-height: 0;
    height: 7.8rem; /* Variable wud b nice <———————————————————————————————————— */
    width: 100%;
    padding: 0 0 0 2rem;
    overflow: hidden; /* children have no influence on height */
  }
  h1, p {
    opacity: 0;
    transform: translateY(-200px);
  }
}

header.mini { // footer visible, see JS helpers
  #masthead { height: 0; } 
}

/* End Header Shrink }}}1 */

/* Main {{{1 */

main {
  width: 65rem;
  margin: 0 auto;
  padding: 30.5rem 0 0; 
  h2 {
    text-align: center;
    margin: 0 0 1rem;
  }
  h2:nth-child(n+2) {
    // margin-top: 4rem; // too much
  }
}


/* End Main }}}1 */

/* Footer {{{1 */

footer {
  margin-top: 4em;
  z-index: 9750;

  /* Footer Social Media Buttons Layout {{{2 */
  #social-media-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    svg:first-child { margin-right: 0.5rem; }
  }
  /* End Footer Social Media Buttons Layout }}}2 */

  /* Footer Info Container Layout {{{2 */
  #infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* Footer Info Items */
    p { 
      white-space: nowrap;
      margin-right: 1em;
    }
    p:last-child {margin-right: 0; }
  }
  /* Footer Info Container Layout }}}2 */

  /* Footer Masthead Layout {{{2 */
  
  #masthead { /* Background-Image and Logotype in Footer */
    margin-top: 1rem;
    flex-direction: column-reverse;
    h1, p {
      color: white;
      margin: 0;
      line-height: 1;
    }
  }
  
  /* End Footer Masthead Layout }}}2 */

}

/* End Footer }}}1 */

/* Breakpoint for smaller Header/Footer {{{1 */

@media (max-width: 1440px) { // Apple 15" Laptop

  /* Header & Footer {{{2 */
  header #masthead,
  footer #masthead {
    height: 19.5rem;
    h1 {
      font-size: 5rem;
    }
    p {
      font-size: 1.85rem;
      line-height: 1.3;
      letter-spacing: 0.45rem;
    }
  }
  /* End Header & Footer }}}2 */

  /* Main {{{2 */
  main {
    padding: 22.5rem 0 0;
    h2 {
      font-size: 5rem;
    }
  }
  /* End Main }}}2 */

}

/* End Breakpoint for smaller Header/Footer }}}1 */
