@charset "UTF-8";

/* Variables {{{ */
$blue: rgb(165, 180, 255);
$blue-hover: rgb(0, 40, 255);
$gray: rgb(125, 215, 215);
/* Variables }}} */


body {
  color: blue;
  font-family: 'Calibre', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.1;
}
