{# Beyond Foundation, Story #}

{% extends "_layout" %}

{% set entry = craft.entries().section('team').one() %}

{% block content %}

    <header>
      {% include 'includes/header' %}
    </header>

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <main>
      <h2>{{ entry.pageHeading }}</h2>
      
      <section class="alternating-image-grid">
        <img class="fake-img" style="width: 100%; height: 320px; background: lightgray">
        <div class="accordion">
          <h3>lorem ipsum</h3>
          <p>Amet illum veniam reiciendis incidunt tempora Impedit pariatur magni veritatis animi nesciunt.</p>
        </div>
      </section>

      <section class="alternating-image-grid">
        <img class="fake-img" style="width: 100%; height: 320px; background: lightgray">
        <div class="accordion">
          <h3>Amet nobis?</h3>
          <p>Amet harum suscipit maiores distinctio perspiciatis? Ad quia qui reprehenderit provident illo?</p>
        </div>
      </section>

    </main>
        
    <footer>
      {% include 'includes/footer' %}
    </footer>

    <script>
      console.log('I & I is at {{ slug }}' );
    </script>

{% endblock %}
