{# Beyond Foundation, Footer #}

<div id="social-media-buttons">

  <ul class="share-icons">
    <li><a href="https://www.facebook.com/Beyond/" target="_blank"><img src="{{ alias('@assetBasePath') }}/assets/_pic/footer-icons/fb-icon-gold.svg" alt=""></a></li>
    <li><a href="https://www.instagram.com/beyondmusic/" target="_blank"><img src="{{ alias('@assetBasePath') }}/assets/_pic/footer-icons/insta-icon-gold.svg" alt=""></a></li>
    <li><a href="https://www.youtube.com/user/beyondsingingcom" target="_blank"><img src="{{ alias('@assetBasePath') }}/assets/_pic/footer-icons/yt-icon-gold.svg" alt=""></a></li>
  </ul>

{#
  <a class="social-media-link" href="https://www.facebook.com/seeschau/" target="_blank" style="border:0">
    <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <path d="M55,0 C63.2842712,-1.52179594e-15 70,6.71572875 70,15 C70,23.2842712 63.2842712,30 55,30 C46.7157288,30 40,23.2842712 40,15 C40,6.71572875 46.7157288,1.52179594e-15 55,0 Z M58.3289789,12.160934 L55.7792494,12.160934 L55.7792494,11.0228752 C55.7792494,10.4875993 56.1341086,10.3627414 56.3838244,10.3627414 L58.168874,10.3627414 L58.168874,8.00776628 L55.5827027,8 C53.2372861,8 52.7922185,9.75577673 52.7922185,10.8794977 L52.7922185,12.160934 L51,12.160934 L51,14.5505586 L52.7922185,14.5505586 L52.7922185,21.7194327 L55.7792494,21.7194327 L55.7792494,14.5505586 L58.0798605,14.5505586 L58.3289789,12.160934 Z" id="path-1"></path>
        </defs>
        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Social-Buttons-Footer" transform="translate(-40.000000, 0.000000)">
                <g id="Facebook_Button">
                    <use fill="#000000" fill-rule="evenodd" xlink:href="#path-1"></use>
                    <path stroke="#000000" stroke-width="1" d="M55,0.5 C46.9918711,0.5 40.5,6.99187113 40.5,15 C40.5,23.0081289 46.9918711,29.5 55,29.5 C63.0081289,29.5 69.5,23.0081289 69.5,15 C69.5,6.99187113 63.0081289,0.5 55,0.5 Z M56.2792494,15.0505586 L56.2792494,22.2194327 L52.2922185,22.2194327 L52.2922185,15.0505586 L50.5,15.0505586 L50.5,11.660934 L52.2922185,11.660934 L52.2922185,10.8794977 C52.2922185,8.95097844 53.3050422,7.5 55.5842042,7.50000225 L58.668874,7.50926553 L58.668874,10.8627414 L56.3838244,10.8627414 C56.2894751,10.8627414 56.2792494,10.8711079 56.2792494,11.0228752 L56.2792494,11.660934 L58.8838136,11.660934 L58.5304452,15.0505586 L56.2792494,15.0505586 Z"></path>
                </g>
            </g>
        </g>
    </svg>
  </a>
#}
</div>

{% include "includes/infos" %}

{% include "includes/masthead" %}
