<div class="infos">
  <p class="strasse">Seestrasse 106</p>
  <p>CH-8703 Erlenbach</p>
  <p><a href="tel:+41449155528">T: +41 44 915 55 28</a></p>
  <p><a href="mailto:info@beyond-foundation.org">info@beyond-foundation.org</a></p>
  <p><a class="newsletter-link arrow-right-before" href="{# TODO #}" target="_blank">Newsletter</a></p>
  <p>
    <a href="{{  craft.app.language == 'en' ? '/en' : '' }}/impressum">{{ 'Impressum'|t }}</a> &
    <a href="{{  craft.app.language == 'en' ? '/en' : '' }}/disclaimer">{{ 'rechtliche Hinweise'|t }}</a>
  </p>
</div>
