{# Beyond Foundation, Basic Layout #}
{% set slug = craft.app.request.segments|first ? craft.app.request.segments|first : 'index' %}{# auf welcher seite befinden wir uns? #}
<!DOCTYPE html>
<html lang="{{ currentSite.language }}"> {# switch language depending on locale #}

  <head>
    {% include 'includes/head' %}
  </head>

	<body class="{{ slug }}">

    {% block content %}
    <p>If you see this, there is a malfunction in the template engine. Please contact an Administrator.</p> 
    {% endblock %}

    <script src="/assets/js/helpers.js?{{ random() }}"></script>

	</body>
</html>

