{# Beyond Foundation, Basic Layout #}
{% set slug = craft.app.request.segments|first ? craft.app.request.segments|first : 'index' %}{# auf welcher seite befinden wir uns? #}
<!DOCTYPE html>
<html lang="{{ currentSite.language }}"> {# switch language depending on locale #}

		<head>
			 {% include 'includes/head' %}
		</head>

	<body class="{{ slug }}">

		<header>
			{% include 'includes/header' %}
		</header>

		<nav id="nav-overlay"> {# triggered by hamburger #}
			{% include 'includes/nav' %}
		</nav>
		

		{% block content %}
			<p>If you see this, there is a malfunction in the template engine. Please contact an Administrator.</p> 
		{% endblock %}
		  
		<footer>
			{% include 'includes/footer' %}
		</footer>

		<script>
			console.log('I & I is at ' {{ slug }});
		</script>
	</body>
</html>

