{# Beyond Foundation, Music Network #}

{% extends "_layout" %}

{% set entry = craft.entries().section('musicNetwork').one() %}

{% block content %}

    <header>
      {% include 'includes/header' %}
    </header>

    <nav id="nav-overlay"> {# triggered by hamburger #}
      {% include 'includes/nav' %}
    </nav>
      
    <main>
      <h2>{{ entry.pageHeading }}</h2>
      
      <section class="main-lead">
        <h3>{{ entry.leadTitle }}</h3>
        {{ entry.lead }}
      </section>

    </main>
        
    <footer>
      {% include 'includes/footer' %}
    </footer>

    <script>
      console.log('I & I is at {{ slug }}' );
    </script>

{% endblock %}
